# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    env(ENQUEUE_ROUTER_TOPIC): router
    env(ENQUEUE_ROUTER_QUEUE): default
    env(ENQUEUE_REDELIVERED_DELAY_TIME): 10
    env(SYMFONY_SECRET): 'ThisTokenIsNotSoSecretChangeIt'

    rabbitmq_host: '%env(RABBITMQ_HOST)%'
    rabbitmq_vhost: '%env(RABBITMQ_VHOST)'
    rabbitmq_port: '%env(RABBITMQ_PORT)'
    rabbitmq_login: '%env(RABBITMQ_LOGIN)'
    rabbitmq_password: '%env(RABBITMQ_PASSWORD)'

    enqueue_prefix: '%env(ENQUEUE_PREFIX)'
    enqueue_app_name: '%env(ENQUEUE_APP_NAME)'
    enqueue_router_topic: '%env(ENQUEUE_ROUTER_TOPIC)'
    enqueue_router_queue: '%env(ENQUEUE_ROUTER_QUEUE)'
    enqueue_redelivered_delay_time: '%env(ENQUEUE_REDELIVERED_DELAY_TIME)'

    secret: '%env(SYMFONY_SECRET)'
